* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html {
    background-color: rgb(142, 142, 168);
    font-size: 62.5%;

}

h1 {
    background-color: rgb(101, 155, 48);
    color: white;
    font-size: 80rem;
}
#mate {
    color: blueviolet;
    font-size: 60rem;
}
.clase {
    color: brown;
    font-size: 60rem;
}
