* {
    background-color: silver;
    margin: 0pt;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
nav {
    padding-top: 1rem;
    text-decoration: none;
    background-color: rgb(105, 87, 84);
    width: 100vw;
    height: 4rem;
}
a {
    color: black;
    padding: 1rem;
    border-radius: 3rem;
    margin-right: 3rem;
    font-size: 1.6rem;
    text-decoration: none;
    background-color: rgb(105, 87, 84);
}
h1 {
    width: 100vw;
    padding: 1rem;
    border: solid;
    border-radius: 0rem;
    margin-right: 3rem;
    font-size: 5rem;
    text-decoration: none;
    background-color: rgb(105, 87, 84);

}
footer {
    width: 100vw;
    padding: 1rem;
    border: solid;
    border-radius: 0rem;
    margin-right: 3rem;
    font-size: 1.6rem;
    text-decoration: none;
    background-color: rgb(105, 87, 84);
    align-items: flex-end;
}
main {
    min-width: 100vw;
    min-height: 70vh;
}
img {
    z-index: transparent;
    border-radius: 5rem;
    border: solid;

}
main section article p {

    font-size: 1.6rem;
    padding-left: 5rem;
    padding-right: 5rem;
}
section ul li {
    font-size: 1.6rem;

}
footer p {
    background-color: rgb(105, 87, 84);
}
